# Node / build
node_modules
dist
# Env
.env
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
# Editor/OS
.DS_Store
Thumbs.db
# IntelliJ
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests
# Vite
vite.svg
